USE [master]
GO
/****** Object:  Database [Nutri]    Script Date: 28/02/2026 12:28:09 SA ******/
CREATE DATABASE [Nutri]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nutri', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Nutri.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nutri_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Nutri_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nutri].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nutri]
GO
/****** Object:  Table [dbo].[food_categories]    Script Date: 28/02/2026 12:28:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_categories](
	[category_id] [int] NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regional_specialties]    Script Date: 28/02/2026 12:28:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regional_specialties](
	[specialty_id] [int] IDENTITY(1,1) NOT NULL,
	[specialty_name] [nvarchar](255) NOT NULL,
	[region_id] [int] NULL,
	[category_id] [int] NULL,
	[food_id] [int] NULL,
	[description] [nvarchar](max) NULL,
	[is_multi_regional] [bit] NULL,
	[peak_harvest_note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[specialty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 28/02/2026 12:28:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[region_id] [int] IDENTITY(1,1) NOT NULL,
	[region_name] [nvarchar](255) NOT NULL,
	[geographic_zone] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[region_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seasons]    Script Date: 28/02/2026 12:28:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seasons](
	[season_id] [int] NOT NULL,
	[season_name] [nvarchar](50) NOT NULL,
	[month_start] [int] NULL,
	[month_end] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[season_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialty_nutrition]    Script Date: 28/02/2026 12:28:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialty_nutrition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[specialty_id] [int] NULL,
	[calories_100g] [float] NULL,
	[protein_100g] [float] NULL,
	[fat_100g] [float] NULL,
	[carb_100g] [float] NULL,
	[fiber_100g] [float] NULL,
	[carbon_footprint_100g] [float] NULL,
	[source] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialty_seasons]    Script Date: 28/02/2026 12:28:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialty_seasons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[specialty_id] [int] NULL,
	[season_id] [int] NULL,
	[availability_note] [nvarchar](255) NULL,
	[quality_rating] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[food_categories] ([category_id], [category_name], [description]) VALUES (1, N'Trái cây', N'Hoa quả tươi')
INSERT [dbo].[food_categories] ([category_id], [category_name], [description]) VALUES (2, N'Hải sản', N'Đồ tươi sống')
INSERT [dbo].[food_categories] ([category_id], [category_name], [description]) VALUES (3, N'Rau củ', N'Nông sản')
GO
SET IDENTITY_INSERT [dbo].[regional_specialties] ON 

INSERT [dbo].[regional_specialties] ([specialty_id], [specialty_name], [region_id], [category_id], [food_id], [description], [is_multi_regional], [peak_harvest_note]) VALUES (1, N'Nem Chua (1)', 19, 8, 1001, N'Mô tả tự động cho món ngon này.', 0, N'Tháng 7')
INSERT [dbo].[regional_specialties] ([specialty_id], [specialty_name], [region_id], [category_id], [food_id], [description], [is_multi_regional], [peak_harvest_note]) VALUES (2, N'Hủ Tiếu (2)', 31, 8, 1002, N'Mô tả tự động cho món ngon này.', 0, N'Tháng 6')
INSERT [dbo].[regional_specialties] ([specialty_id], [specialty_name], [region_id], [category_id], [food_id], [description], [is_multi_regional], [peak_harvest_note]) VALUES (3, N'Bánh Pía (3)', 42, 6, 1003, N'Mô tả tự động cho món ngon này.', 0, N'Tháng 5')
GO
SET IDENTITY_INSERT [dbo].[regional_specialties] OFF
GO
SET IDENTITY_INSERT [dbo].[regions] ON 

INSERT [dbo].[regions] ([region_id], [region_name], [geographic_zone]) VALUES (1, N'Hà Nội', N'Miền Bắc')
INSERT [dbo].[regions] ([region_id], [region_name], [geographic_zone]) VALUES (2, N'Hà Giang', N'Miền Bắc')
INSERT [dbo].[regions] ([region_id], [region_name], [geographic_zone]) VALUES (3, N'Cao Bằng', N'Miền Bắc')
SET IDENTITY_INSERT [dbo].[regions] OFF
GO
INSERT [dbo].[seasons] ([season_id], [season_name], [month_start], [month_end]) VALUES (1, N'Mùa Xuân', 1, 3)
INSERT [dbo].[seasons] ([season_id], [season_name], [month_start], [month_end]) VALUES (2, N'Mùa Hè', 4, 6)
INSERT [dbo].[seasons] ([season_id], [season_name], [month_start], [month_end]) VALUES (3, N'Mùa Thu', 7, 9)
GO
SET IDENTITY_INSERT [dbo].[specialty_nutrition] ON 

INSERT [dbo].[specialty_nutrition] ([id], [specialty_id], [calories_100g], [protein_100g], [fat_100g], [carb_100g], [fiber_100g], [carbon_footprint_100g], [source]) VALUES (1, 1, 111.78, 28.29, 2.21, 49.11, 1.98, 2.96, N'AI Data')
INSERT [dbo].[specialty_nutrition] ([id], [specialty_id], [calories_100g], [protein_100g], [fat_100g], [carb_100g], [fiber_100g], [carbon_footprint_100g], [source]) VALUES (2, 2, 236.84, 23.12, 2.54, 99.04, 8.94, 0.83, N'AI Data')
INSERT [dbo].[specialty_nutrition] ([id], [specialty_id], [calories_100g], [protein_100g], [fat_100g], [carb_100g], [fiber_100g], [carbon_footprint_100g], [source]) VALUES (3, 3, 234.55, 22.26, 0.91, 68.41, 0.97, 3.65, N'AI Data')
GO
SET IDENTITY_INSERT [dbo].[specialty_nutrition] OFF
GO
SET IDENTITY_INSERT [dbo].[specialty_seasons] ON 

INSERT [dbo].[specialty_seasons] ([id], [specialty_id], [season_id], [availability_note], [quality_rating]) VALUES (1, 1, 4, N'Sẵn có nhiều', N'5 Sao')
INSERT [dbo].[specialty_seasons] ([id], [specialty_id], [season_id], [availability_note], [quality_rating]) VALUES (2, 2, 2, N'Sẵn có nhiều', N'5 Sao')
INSERT [dbo].[specialty_seasons] ([id], [specialty_id], [season_id], [availability_note], [quality_rating]) VALUES (3, 2, 4, N'Cuối vụ', N'4 Sao')
GO
SET IDENTITY_INSERT [dbo].[specialty_seasons] OFF
GO
ALTER TABLE [dbo].[regional_specialties]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[food_categories] ([category_id])
GO
ALTER TABLE [dbo].[regional_specialties]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([region_id])
GO
ALTER TABLE [dbo].[specialty_nutrition]  WITH CHECK ADD FOREIGN KEY([specialty_id])
REFERENCES [dbo].[regional_specialties] ([specialty_id])
GO
ALTER TABLE [dbo].[specialty_seasons]  WITH CHECK ADD FOREIGN KEY([season_id])
REFERENCES [dbo].[seasons] ([season_id])
GO
ALTER TABLE [dbo].[specialty_seasons]  WITH CHECK ADD FOREIGN KEY([specialty_id])
REFERENCES [dbo].[regional_specialties] ([specialty_id])
GO
USE [master]
GO
